* {
    font-family: sans-serif;
}

:root {
    --background: #403C3B;
    --background-card-input: #504B4A;
    --color-headlines: #FFFFFF;
    --color-text: #CFCFCF;
    --color-green: #618967;
}

  
html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.container {
    // max-width: 1440px;
    // width: 100%;
    // margin: 0 auto;
}
