* {
    font-family: sans-serif;
}

:root {
    // --color-theme1: #fec77e;
    // --color-theme2: #cc2a41;
    // --color-primary-text: #000;
    // --color-secondary: #ece9e9;
}

html,
body {
    margin: 0;
    padding: 0;
    // background-color: var(--color-secondary);
    background: #333;
}

.container {
    // max-width: 1440px;
    // width: 100%;
    // margin: 0 auto;
}
